<!DOCTYPE html>
<html lang="pt-br">

<head>
    <header className='header'>
        <img className="logo_class" src='/img/lince_logo.png' />
        <a className="topico1" href="/projetos">PROJETOS</a>
        <a className="topicos" href="/participacao-em-eventos">EVENTOS</a>
        <BrowserRouter>
        <a class="topicos" href="/publicar">PUBLICAR</a>
        </BrowserRouter>
        <a className="topicos" href="/contato">CONTATE-NOS</a>
        <a className="topicos" href="/sobre">SOBRE NÓS</a>    
        <a className="topicos" href="/">VOLTAR</a>
        <img className="simbolo_login" src='/img/simbolo_login.png' />
    </header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/App.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/Publicacao.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Publicacao do LINCE</title>
</head>

<body>
    {{{body}}}
</body>
<img className='lince_foot' src='/img/lince_foot.png' />

</html>