<!DOCTYPE html>
<html lang="pt-br">

<head>
    <header className='header'>
        <img className="logo_class" src={logo} />
        <a className="topico1">PROJETOS</a>
        <a className="topicos">EVENTOS</a>
        <BrowserRouter>
        <Route component={ Publicar } path="/publicar" />
        </BrowserRouter>
        <a className="topicos">CONTATE-NOS</a>
        <a className="topicos">SOBRE NÓS</a>
        <img className="simbolo_login" src={login} />
    </header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/App.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/Publicacao.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Publicacao do LINCE</title>
</head>

<body>
    {{{body}}}
</body>
<img className='foot' src={Rodape}/>

</html>