

<h1>Redirecionamento</h1>
<!-- -->
<button onclick="redirecionarParaTeste1()">Tela Original 1</button>
<script>
    function redirecionarParaTeste1() {
        // Redireciona para a página /Postagens
        window.location.href = "/maria";
    }
</script>
<button onclick="redirecionarParaTeste2()">Tela Original 2</button>
<script>
    function redirecionarParaTeste2() {
        // Redireciona para a página /Postagens
        window.location.href = "/maria2";
    }
</script>
<button onclick="redirecionarParaTeste3()">Tela Original 3</button>
<script>
    function redirecionarParaTeste3() {
        // Redireciona para a página /Postagens
        window.location.href = "/maria3";
    }
</script>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>

