.header{
  background-color:#FFCE28;
}
.topicos{
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin:16px;
  margin-top: 100px;
}
.topico1{
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 360px;
  margin-right: 13px;
}
.logo_class{
  margin: 20px;
  margin-left: 40px;
}
.simbolo_login{
  margin:35px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.news-box {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Isso garante que padding e border não afetem a largura total */
}